/* Hero section */

.navbar {
  width: 70%;
  height: 4%;
  position: absolute;
  top: 70px;
  bottom: auto;
  left: 15%;
  right: 0%;
  justify-content: space-between;
  padding: 0rem 3rem;
}

.burger-menu {
  padding: 0.1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  border-radius: 10px;
}

.burger-menu img {
  width: 90%;
}

.hero-container-parent {
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.hero-container-parent h1 {
  gap: 0.3rem;
}

/* Left container */

.hero-container-left {
  align-items: flex-end;
  padding-right: 2rem;
  background-image: url("../Assets/hero/hero-left.png");
}

.hero-left-content {
  color: var(--white);
  align-items: flex-end;
}

.hero-container-left h1 {
  align-items: flex-end;
}

.hero-title-left {
  font-size: 2.2rem;
  font-weight: 900;
}

.hero-left-subtitle {
  background-color: var(--black);
  color: var(--white);
}

.hero-left-content > h1 {
  text-align: end;
  font-size: 1rem;
}

.black-btn {
  color: var(--white);
  background-color: var(--black);
}

/* right container */

.hero-container-right {
  background-image: linear-gradient(
      rgba(35, 35, 35, 0.85),
      rgba(35, 35, 35, 0.85)
    ),
    url("../Assets/hero/hero-right.png");
  padding-left: 2rem;
}

.hero-right-content {
  color: var(--white);
  align-items: flex-start;
}

.hero-container-right h1 {
  align-items: flex-start;
}

.hero-title-right {
  font-size: 2.2rem;
  font-weight: 900;
}

.hero-right-subtitle {
  background-color: var(--white);
  color: var(--black);
}

.white-btn {
  background-color: var(--white);
}

/* Hello World Section */
.hello-world-parent {
  padding: 4.5rem;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
}

.hello-world-child {
  align-items: center;
  gap: 4rem;
  width: 80%;
}

.hello-world-video-container {
  width: 90%;
  border: 15px solid var(--sef_primary);
  border-radius: 20px;
  object-fit: fill;
  justify-content: center;
  align-items: center;
}

.hello-world-video-container iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}
