/* Font Imports */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;900&display=swap");

/* CSS Reset */

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* color variables */

:root {
  --white: #fcfcfd;
  --black: #363738;
  --pink_primary: #fb508e;
  --sef_primary: #28eea7;
  --grey: #a5a6a9;
  --black-2: #232323;
  --daf_primary: #fb4747;
  --background: #f1f2f3;
  --ylw_primary: #ffc635;
  --ppl_primary: #9864da;
  --overlay-black: rgba(35, 35, 35, 0.9);
  --light_grey: #dcdee1;
  --hrf_primary: #31b7f0;
  --overlay-green: rgba(40, 238, 167, 0.9);
  --ghost-white: #ecedf3;
  --purple-overlay: rgba(152, 100, 218, 0.9);
}

/* Universal body styles */

body {
  font-family: "Noto Sans Mono", sans-serif;
  font-size: 16px;
}

a {
  cursor: pointer;
}

/* reusable container styles */

.parent-container {
  padding: 4.5rem;
  justify-content: center;
  align-items: center;
}

.child-container {
  align-items: center;
  gap: 4rem;
  width: 80%;
}

/* reusable flexbox classes */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* reusable Hero classes */

.hero-container {
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  background-size: cover;
}

.hero-content {
  gap: 2rem;
  max-width: 670px;
}

.hero-description {
  flex-grow: 1;
  width: 80%;
  line-height: 1.5;
}

.hero-subtitle {
  font-size: 1.5rem;
  padding: 0px 10px;
}

.hero-btn {
  cursor: pointer;
  text-align: center;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 800;
  white-space: nowrap;
}

/* reusable title classes */

.title-wrapper {
  width: 90%;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2rem;
}

.title-symbol {
  color: var(--sef_primary);
}

.title-text {
  color: var(--black);
  text-align: left;
  font-weight: 900;
  font-size: 1.4rem;
}

.title-icon-wrapper {
  gap: 1rem;
}

.title-icon {
  width: 24px;
  height: 24px;
  border-radius: 20px;
}

.black-icon {
  background-color: var(--black-2);
}

.grey-icon {
  background-color: var(--grey);
}

.green-icon {
  background-color: var(--sef_primary);
}

.white-icon {
  background-color: var(--white);
}

/* reusable program tab styles */

.program-tab {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  align-content: space-between;
  justify-content: space-around;
  background-color: var(--black);
  padding: 1.5rem;
  gap: 2rem;
}

.program-tab img {
  width: 40%;
  border-radius: 10px;
}

.program-content {
  justify-content: space-between;
  width: 70%;
  padding: 1rem;
  gap: 1.5rem;
}

.program-content-main {
  gap: 2rem;
}

.program-content-main p {
  color: var(--light_grey);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
}

.program-info-block {
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.program-info {
  background-color: var(--black-2);
  font-size: 0.9rem;
  padding: 0.8rem;
  gap: 0.5rem;
  align-items: center;
}

.title-confirmation {
  font-weight: 800;
}

.program-info-span {
  color: white;
}

.program-learn-more {
  color: var(--white);
  font-weight: 800;
  padding: 0.8rem;
  background-color: var(--black-2);
  flex: 1;
  text-align: right;
}

/* Reusable testimonial classes */

.testimonial {
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: var(--black);
}

.testimonial p {
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
}

.testimonial-image {
  border-radius: 20px;
  width: 30%;
}

.testimonial-content {
  margin-left: 4rem;
  width: 60%;
  gap: 2rem;
}

.testimonial-quotemark {
  width: 8%;
}

.testimonial-subcontent {
  gap: 1rem;
}

.testimonial-subcontent img {
  border-radius: 50%;
  width: 8%;
}

.testimonial-name {
  color: var(--white);
  font-weight: 900;
}

.testimonial-title {
  color: var(--white);
}

.testimonial-title strong {
  color: var(--sef_primary);
}
